@import url("/fonts/stylesheet.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}
body {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.left {
  /* background-color: #f0f0f0; */
  padding: 30px;
}
.left h2 {
  margin: 20px 0;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left hr {
  width: 100%;
  border: 1px solid #e5eaf1;
}
input {
  width: 100%;
  height: 50px;
  font-family: inherit;
  padding: 0 40px;
  margin: 10px 0;
  outline: none;
  border: 1px solid #e5eaf1;
}

input[type="submit"] {
  background-color: black;
  color: rgb(204, 204, 204);
  cursor: pointer;
  font-family: "Gilroy";
  font-size: 1rem;
  font-weight: 500;
}

input[type="submit"]:hover {
  background-color: #fdb10d;
  color: black;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}

.country-code {
  position: absolute;
  left: 10px;
  font-size: 1rem;
  color: #555;
}

input[type="tel"] {
  flex: 1;
  padding-left: 50px; /* "+998" uchun joy qoldirish */
  font-size: 1rem;
}

.right img {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}

.shape_effects {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Orqa fonda ko'rinishi uchun */
}

.shape1 {
  width: 1106.574px;
  height: 1106.574px;
  transform: rotate(65.432deg);
  border-radius: 1106.574px;
  background: #d3f193;
  filter: blur(125px);
  position: absolute;
  bottom: -100%;
  left: 80%;
}

.shape2 {
  width: 736.79px;
  height: 736.79px;
  transform: rotate(38.438deg);
  border-radius: 736.79px;
  opacity: 0.8;
  background: #f19393;
  position: absolute;
  filter: blur(125px);
  top: 0;
  left: -710px;
}

.logo{
  width: 100%;
}